{%- assign s = section.settings -%}
{%- assign width = s.width | default: 'normal' -%}
<section class="ek-section ek-richtext ek-richtext-{{ width }}">
  <div class="ek-container">
    <div class="ek-richtext-inner">{%- if s.html != blank -%}{% render 'resolve-tokens', text: s.html, shop: shop %}{%- endif -%}</div>
  </div>
</section>
