{%- assign s = section.settings -%}
{%- assign width = s.width | default: 'normal' -%}
<section class="gm-section gm-richtext gm-richtext-{{ width }}">
  <div class="gm-container">
    <div class="gm-richtext-inner" data-el="content">{%- if s.html != blank -%}{% render 'resolve-tokens', text: s.html, shop: shop %}{%- endif -%}</div>
  </div>
</section>
