{%- assign s = section.settings -%}
{%- assign width = s.width | default: 'normal' -%}
<section class="bz-section bz-richtext bz-richtext-{{ width }}">
  <div class="bz-container">
    <div class="bz-richtext-inner">{%- if s.html != blank -%}{% render 'resolve-tokens', text: s.html, shop: shop %}{%- endif -%}</div>
  </div>
</section>
