{%- assign s = section.settings -%}
{%- assign brands = s.brands -%}
<section class="kt-section kt-brands{% if section.in_column %} kt-in-column{% endif %}">
  <div class="kt-container">
    {%- if s.title != blank -%}<div class="kt-shead kt-shead-center"><h2 class="kt-title kt-title-sm" data-el="title">{{ s.title }}</h2></div>{%- endif -%}
    {%- if brands and brands.size > 0 -%}
    <div class="kt-brand-row">
      {%- for brand in brands -%}<a class="kt-brand" href="{{ brand.href | default: '#' }}" data-el-item="brands:{{ forloop.index0 }}" data-el="logo">{% if brand.image != blank %}<img src="{{ brand.image }}" alt="Brand">{% endif %}</a>{%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</section>

